body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 0;
    
 }
 p{
       font-family: 'Indie Flower', cursive;
       font-size:30px;
     
     
 }
 .line{
     display:block;
      font-family: 'Indie Flower', cursive;
 }
 .line1{
      font-family: 'Indie Flower', cursive;
 }
   .enter{
     font-family: 'Indie Flower', cursive;
    font-size:250%;
    font-weight:500;
    text-align: right;
    
        background:
     url("http://wallpapercave.com/wp/tW8bv5V.png") no-repeat right center; 
     background-size:cover;
      background-attachment:fixed;
  height: 650px;
  position: fixed;
  top: 0px;
  width: 80%;
   }
   .button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}
  




.center {
    text-align: center;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
        .container {
                        max-width:800px;
                        margin:0 auto;
                        color:grey;
                        font-family:sans-serif;
                        padding-top:60px;
                        padding-left:20px;
                        padding-right:20px;
                    }
                    .p {
  color:rgb(3,150,100);
  color:rgba(3,101,100,0.75);
  background-color:aqua;
  
  
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;

                        
                    
  position: relative;
  text-align: center;
  top: 20%;
}
                .cartoon{
                    border-radius:10px;
                }    
